.container{
    max-width: 500px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(195, 194, 194);
    margin-bottom: 5px;
    background-color: rgb(241, 248, 254);
}

body{
    background-color: bisque;
}

#display{
    background-color: rgb(20, 33, 33);
  color: aliceblue;
    text-align: center;
   margin-bottom: 5px;
    height: 150px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 30px;

}

.buttons{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 1fr;

}



.button{
    font-family: sans-serif;
 
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal{
    
    background-color: orange;
    color: rgb(36, 11, 11);
    text-align: center;



   
}

.button:hover{
    background-color: rgb(240, 92, 0);
    color: aliceblue;
    transition:0.3s ease-in-out;

}